<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handing Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<table>
    <tr>
        <td>Name</td>
        <td>Value</td>
    </tr>
    <tr>

        <td><p th:text="${greeting.id}" /></td>
        <td><p th:text="${greeting.content}" /></td>
    </tr>
    <tr th:each="s : ${al1}">
        <td th:text="${s.str1}"></td>
        <td th:text="${s.str2}"></td>

    </tr>
</table>


<a href="/1">Submit another message</a>
</body>
</html>