<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        add page
    </title>
    <body>

        <h1>New Field</h1>
        <form action="#" th:action="@{/1}" th:modelAttribute="${ProField}" method="get">
            <input type="text" name="s1" th:field="*{proField.str1}" />
            <input type="text" name="s2" th:field="*{proField.str2}" />

            <input type="submit" name="newf" value="Submit"/>
        </form>


        <!--<form:form action="/1" method="POST" modelAttribute="ProField">-->

            <!--<td><input path="proField[0].str1"  type="text" /></td>-->
            <!--<td><input path="proField[0].str2"  type="text" /></td>-->
            <!--<input type="submit" value="Submit"/>-->
        <!--</form:form>-->
        <table>
            <tr>
                <th>NAME</th>
                <th>VALUE</th>

            </tr>
            <tr th:each="s : ${sc}">
                <td th:text="${s.str1}">Onions</td>
                <td th:text="${s.str2}">2.41</td>

            </tr>
        </table>

    </body>

</head>
</html>